@font-face {
    font-family: Montserra;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

#cb-cookie-banner { 
    position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999; border-radius: 0; display: none;
}
body {
    font-family: Montserra;
}

.social img:hover {
   transform: scale(1.2);

}
.page-link {
    color:  #CE1126 !important; 
}

.pagination .page-item.active .page-link {
    background-color: #009246;
    border-color: #009246;
    color: white !important;
    
}
.btn, .bg-success {
    background-color: #009246 !important;
    border-color: #009246;
}
.text-danger {
    color: #CE1126 !important;
}
.message {
    background-color: #009246;
    z-index: 999;
}
